.row
  .large-12.columns
    %h3 Upload Image

  .large-12.columns
    = form_for @image, :url => (refinery.create_image_path), :html => { :multipart => true } do |f|
      = f.file_field :image
      %p
      = f.submit "Save", :class => "button"

  .large-12.columns
    - if @uploaded_image
      %h4
        Successfully uploaded:
      = @uploaded_image.image_name
      %p
      = image_tag(@uploaded_image.thumbnail("320x240!").url, :class => "imgshadow")

